* {
font-family: monospace;
}


  /* Hero Section */
    .hero {
      height: 78vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-size: cover;
      padding: 0 20px;
      margin-bottom: 90px;
    }

    .hero-content {
      max-width: 800px;
    }

    .hero-title {
      font-size: 4rem;
      margin-bottom: 30px;
      background: black;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
    }
    
    .cta-button {
      padding: 15px 40px;
      background-color: black;
      color: white;
      text-decoration: none;
      font-weight: bold;
      border-radius: 30px;
      font-size: 1.2rem;
      transition: transform 0.3s ease;
    }

    .cta-button:hover {
      transform: scale(1.05);
    }




/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 20px 8%;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  
}

li {
  margin: 2px 0 2px 30px;
  padding: 0;
  font-size: 16px;
}

.home {
  margin: 2px 0 2px 30px;
  padding: 0;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.fixIt {
  margin: 2px 0 2px 30px;
  padding: 0;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

/* Main */
.welcome-desc {
  font-weight: 100;
  margin: 0 0%;
  text-align: center; 
  margin-bottom: 50px;
  font-size: 26px;
}

h2 {
  font-weight: 100;
  margin: 0 20%;
  text-align: center; 
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: bold;
}

/* Image */
.logo-photo {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

h3 {
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  font-size: 28px;
  color: black;
  font-weight: 100;
  margin-bottom: 12px;
}

.lang-desc {
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  margin-bottom: 28px;
}

.white-container {
 background-color: white;
 font-family: arial;
 padding: 40px 0;
}

.coding-langs {
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: white;
}

.css {
  margin: 0 30px;
  width: 110px;
  height: 110px;
  background-color: transparent;
}

.html {
  margin: 0 30px;
  width: 110px;
  height: 110px;
  background-color: transparent;
}

.java {
  margin: 0 30px;  
  width: 115px;
  height: 115px;
  background-color: transparent;
}

.javascript {
  margin: 0 30px;  
  width: 115px;
  height: 115px;
  background-color: white;
}

.software-header {
  margin-top: 58px;
}

.software-desc {
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  font-size: 25px;
  color: black;
  font-weight: 100;
  margin-bottom: 32px; /* Instead of 28 */
}





.hardware-skillset {
  font-weight: bold;
  text-align: center;
  font-weight: 100;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  
}

.hardware-list {
  font-size: 18px;
  margin: 16px;
  background-color: #ffffff;
  color: black;
}


.form-button-section {
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: white;
}

.form-button {
 background-color: black;
 font-size: 20px;
 padding: 5px 10px 5px 10px;
}




.codepen {
  margin: 0 50px;  
  width: 110px;
  height: 110px;
  background-color: transparent;
}

.vscode {
  margin: 0 50px;  
  width: 110px;
  height: 110px;
  background-color: transparent;
}

.bluej {
  margin: 0 50px;  
  width: 110px;
  height: 110px;
  object-fit: contain;
  background-color: transparent;
}

.coding-projects {
/* display: flex; */
 align-items: center;
/* justify-content: center; */
 background-color: black;
/* margin: 0 14%; */
 justify-content: justify;
}


.project-desc {
  font-weight: bold;
  background-color: transparent;
  font-size: 15px;
  font-weight: 100;
  color: black;
  max-width: 60%;
/*   border-radius: 20px; */
  padding: 6px;
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
  margin-top: 35px;
}



/* Horizontal ruler */
.offerAndFixHr{
max-width: 60%;
margin: 0 auto;
border-radius: 50%;
margin-top: 50px;
border: 3px dashed black;
}


hr{
max-width: 60%;
margin: 0 auto;
border-radius: 50%;
border: 3px dashed white;
}

/* Footer */
footer{
  margin: 20px 0;
}

.footer-desc {
text-align: center;
}

/* Includes lang desc and software desc */
@media (max-width : 900px) {

.lang-desc {
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    font-size: 23px;
    color: black;
    font-weight: 100;
    margin-bottom: 28px;
  }

  .software-desc {
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  font-size: 23px;
  color: black;
  font-weight: 100;
  margin-bottom: 32px; /* Instead of 28 */
}
}

/* Coding hover and coding logo resizing */
/* includes lang-desc and soft-desc*/
@media (max-width : 790px) {
.lang-desc {
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    font-size: 20px;
    color: black;
    font-weight: 100;
    margin-bottom: 28px;
  }

  .software-desc {
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  font-size: 20px;
  color: black;
  font-weight: 100;
  margin-bottom: 32px; /* Instead of 28 */
}
}

/* Lang-desc and software-desc */
@media (max-width : 700px) {

.lang-desc {
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    font-size: 16px;
    color: black;
    font-weight: 100;
    margin-bottom: 28px;
  }

.software-desc {
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  font-size: 16px;
  color: black;
  font-weight: 100;
  margin-bottom: 32px; /* Instead of 28 */
}
}

/* iframe */
@media (min-width: 560px) {
}


/* list, coding logos resized */
@media (max-width : 485px) {
}

/* list, coding logos resized */
@media (max-width : 430px) {
}

/* lang-desc, software-desc and logo-name */
@media  (max-width: 485px) {
  .lang-desc {
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    color: black;
    font-weight: 100;
    margin-bottom: 28px;
  }

  .software-desc {
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    color: black;
    font-weight: 100;
    margin-bottom: 32px; /* Instead of 28 */
  }

  .logo-name {
   font-size: 17px;
   margin-left: -15px;
  }
}

/* lang-desc, software-desc and logo-name */
@media  (max-width: 380px) {
  .lang-desc {
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    color: black;
    font-weight: 100;
    margin-bottom: 28px;
  }

  .software-desc {
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    font-size: 12px;
    color: black;
    font-weight: 100;
    margin-bottom: 32px; /* Instead of 28 */
  }

  .logo-name {
   font-size: 17px;
   margin-left: -15px;
  }
}

/* list, coding logos resized */
@media (max-width : 360px) {

 }